---
export interface Props {
  id?: string;
  className?: string;
  iconClass?: string;
  iconHidden?: boolean;
  showIcon?: boolean;
}

const { id, className, iconClass = 'fas fa-info-circle', iconHidden = true, showIcon = true } = Astro.props;
const iconHiddenAttr = iconHidden ? 'true' : undefined;
---

<div class:list={['map-note', className]} id={id}>
  {showIcon && <i class={`map-note__icon ${iconClass}`} aria-hidden={iconHiddenAttr}></i>}
  <div class="map-note__content">
    <slot />
  </div>
</div>
